{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}

{% if content %}
<div class="pdf-resources__card">
  <div class="pdf-resources__card-details">
    {% if file_name %}
      <h4 class="pdf-resources__card-details--title">{{ file_name|t }}</h4>
    {% endif %}
    {% if file_size %}
      <p class="pdf-resources__card-details--size">{{ file_size|replace({'MB': ' MB'}) }}</p>
    {% endif %}
      <span link-url="{{ view_url }}" class="pdf-resources__card-details--copy" id="copyLink">{{ 'Copy Link'|t }}</span>
      <a class="use-ajax" 
      data-dialog-options="{&quot;width&quot;:400}" 
      data-dialog-type="modal" 
      href="{{ view_url }}">
      View
      </a>
    {% if file_url %}
      <a href="{{ file_url }}" class="pdf-resources__card-details--download">{{ 'Download PDF'|t }}</a>
    {% endif %}
  </div>
</div>
{% endif %}
