{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
{% set lang = html_attributes.lang|render %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="coh-ie8" {{ html_attributes }}> <![endif]-->
<!--[if IE 9 ]><html class="coh-ie9" {{ html_attributes }}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html{{ html_attributes }}> <!--<![endif]-->
<head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{% if custom_title %}{{ custom_title }}{% else %}{{ head_title|safe_join(' | ') }}{% endif %}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <cohesion-placeholder></cohesion-placeholder>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "on2cthsum5");
    </script>
  {% if (lang == 'fr-fr' or lang == 'de-de') %}
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', 239673430701675);
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=239673430701675&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  {% endif %}
   <script>!function(s,a,e,v,n,t,z){if(s.saq)return;n=s.saq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};s._saq||(s._saq=n);n.push=n;n.loaded=!0;n.version="1.0";n.queue=[];t=a.createElement(e);t.async=!0;t.src=v;z=a.getElementsByTagName(e)[0];z.parentNode.insertBefore(t,z)}(window,document,"script","https://tags.srv.stackadapt.com/events.js");saq("ts","AnnT2Ahq2k6h2JYlylGZpA");</script>
</head>
<body{{ attributes.addClass(body_classes) }}>
{#
  Keyboard navigation/accessibility link to main content section in
  page.html.twig.
#}
<a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
</a>
<div id="redirect-banner" class="coh-style-localisation-banner-styles"></div>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
  <!-- Basket display at the right side of the page -->
  <div class="coh-style-basket-layout-style">
    <div id="basket-overlay" >
      <div class="overlay-content">
       <div class ="model-sample-header">
         <h3 class="coh-style-heading-5-size">{{ 'Request Free Samples'|t }}</h3>
         <button id="close-basket-overlay-btn"><img src="/themes/custom/millboard/svg/Chevron 16 px.svg" alt="sidebar close icon"/></button>
        </div>
        <div class ="model-sample-body">
          <div class='error-message coh-style-f37-ginger-light coh-style-paragraph-default' style="display:none;">
          </div>
          <div class="decking">
            <h5 class="dec-text">{{ 'Decking'|t }}:</h5>
            <ul class="basket-items"></ul>
          </div>
          <div class="cladding">
            <h5 class="dec-text">{{ 'Cladding'|t }}:</h5>
            <ul class="basket-items"></ul>
          </div>
        </div>
        <div class="modal-sample-footer">
          <div class="checkout"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
